.color-primary {
    color:rgb(165, 233, 6);
}
.font-50 {
    font-size: 50px
}

.styleset {
    height: 40px;
    font-size: 20px;
    color: blue;
}

.tb-head>tr>td {
    border: 1px solid #000;
    font-size: 20px;
    font-weight: bold;
    color: red
}

.tb-body>tr>td {
    border: 1px solid #000;

}