
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color:#000;
}
h1 {
    font-size: 48px;
    font-weight: 100;
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold {
    font-size: 18px;
    font-weight: bold;
}

.contents2 {
    font-size: 24px;
    font-weight: medium;
}

.contents3 {
    font-size: 14px;
    font-weight: 100;
}

/* --- */
.intro_bg{
    background-image: url("image/intro.png");
    opacity: 1;
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 718px;
    opacity: 1;
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}
.search_area {
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    opacity: 1;
    margin-top: 24px;
}
.search_area > form > input {
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 250px;
    height: 40px;
    padding-left: 10px;
}
.search_area > form > span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color: #fff;
}

.intro_text {
    width: 100%;
    margin:231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4 {
    color: #fff;
}
/* Intro End */

.amount {
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    
}

.amount > li {
    flex: 1;
    height: 132px;
}
.amount > li > div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}
.amount > li:not(:last-child) > div {
    border-right: 2px solid #e1e1e1;
}

/* main_text0 */

.main_text0 {
    width: 100%;
    height: 601px;
    background: #F1F2F3;
    margin-top: -132px;
}

.main_text0 > h1 {
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1 {
    text-align: center;
}

.icons {
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons > li {
    flex: 1;
    background-color: white;
    height: 302px;
    margin-top: 49px;
}

.icons > li > .icon_img {
    margin-top: 18px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents3 {
    width: 240px;
    margin: auto;
    letter-spacing: -1px;
}

.more {
    width: 100px;
    height: 30px;
    background: #2F7AF4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
}

/* main_text1 */

.main_text1 {
    width: 100%;
    height: 659px;
}

.main_text1 > h1 {
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .contents1 {
    text-align: center;
}

.service {
    width: 1280px;
    display:flex;
    margin:49px auto;
    height: 427px;
}

.service > .contents3 {
    padding: 20px;
}

.service > .contents3 > h2 {
    margin-bottom: 20px;
}

/* main_text2 */
.main_text2 {
    width: 100%;
    height: 418px;
    background-image: url("image/contact.png");
}

.main_text2 > ul {
    display: flex;
    padding-top: 138px;
}

.main_text2 > ul > li {
    flex: 1;
    text-align: center;
}

.main_text2 > ul > li > div,
.main_text2 > ul > li > div > h1 {
   color: #fff; 
}

.more2 {
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    line-height: 40px;
    margin: 16px auto;
}

/* footer */
footer {
    display: flex;
    background: #1f1f1f;
    padding: 30px;
}

footer > div:first-child{
    flex: 3;
    text-align: center;
    color: #fff;
    margin: auto;
}

footer > div:last-child {
    flex: 9;
    color: #fff;
}