h1 {
    text-align: center;    
    font-size: 90px;
    margin-top: 230px;
}
/* Title CSS */
h1 span:nth-child(1) {
    color: #009af0;
}
h1 span:nth-child(2) {
    color: #fb0913;
}
h1 span:nth-child(3) {
    color: #fbcf2c;
}
h1 span:nth-child(4) {
    color: #009af0;
}
h1 span:nth-child(5) {
    color: #25cb85;
}
h1 span:nth-child(6) {
    color: #fb0913;
}

/* Search bar */
.search-bar {
    width: 500px;
}