.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.sub-title {
    font-size: 15px;
    text-align: center; 
}
.con-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-bottom: 15px;
}
div {
    margin-left: 2em;dlwlsrbqkqh
}